<div class="text-center">
  <button
    class="bg-[#00ADB5] font-['Press_Start_2P'] font-bold text-sm hover:bg-cyan-300 p-5 m-5 rounded-md shadow-[#EEEEEE] shadow-lg"
  >
    Create Account
  </button>
  <button
    class="bg-[#00ADB5] font-['Press_Start_2P'] font-bold text-sm hover:bg-cyan-300 p-5 m-5 rounded-md shadow-[#EEEEEE] shadow-lg"
  >
    Sign in
  </button>
  <button
    class="bg-[#00ADB5] font-['Press_Start_2P'] font-bold text-sm hover:bg-cyan-300 p-5 m-5 rounded-md shadow-[#EEEEEE] shadow-lg"
  >
    Play as guest
  </button>
</div>
